<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>构建NPM包</title>
</head>
<body>
  <h1>
    npm包列表
  </h1>
  <ul>
    <%=title%>
  </ul>
</body>

</html>
